{
    "description": "Use this server to run tests and simulations for decision services.",
    "groups": [
        "*"
    ],
    "kind": "RES",
    "loginPassword": "{{ dc_login }}",
    "loginServer": "{{ dc_password }}",
    "name": "{{ server_name }}",
    "url": "{{ res_url }}"
}